{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>康师傅奖金计算 - 销售达成测算</title>
        <link href="{% static "assets/css/weui.css" %}" rel="stylesheet">
        <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="hd">
            <h1 class="page_title">销售达成测算</h1>
        </div>
        <div class="padding">
            <a href="{% url "wechat:calc_1ton" %}?openid={{ openid }}" class="weui_btn weui_btn_primary">一个 R3 客户对应多个业务</a>
            <a href="{% url "wechat:calc_1to1" %}?openid={{ openid }}" class="weui_btn weui_btn_primary">一个 R3 客户对应一个业务</a>
            <a href="{% url "wechat:calc_nto1" %}?openid={{ openid }}" class="weui_btn weui_btn_primary">多个 R3 客户对应一个业务</a>
        </div>
        <input type="hidden" name="openid" id="openid" value="{{ openid }}"/>
    </body>

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>
    <script>
        jQuery(document).ready(function () {
            var openid = "{{ openid }}";
            $('#submit').on('click', function (e) {

            });
        });
    </script>
</html>
