{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>一个 R3 客户对应一个业务</title>
        <link href="{% static "assets/css/weui.css" %}" rel="stylesheet">
        <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="hd">
            <h1 class="page_title">一个客户一个业务</h1>
        </div>
        <div class="padding">
            <div class="weui_cells_title">基本信息</div>
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>日期</p>
                    </div>
                    <div class="weui_cell_ft" id="date">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>姓名</p>
                    </div>
                    <div class="weui_cell_ft" id="name">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>岗位</p>
                    </div>
                    <div class="weui_cell_ft" id="job_name">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>本人目标金额</p>
                    </div>
                    <div class="weui_cell_ft" id="target">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>R3 客户名称</p>
                    </div>
                    <div class="weui_cell_ft" id="client_name">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>R3 客户代码</p>
                    </div>
                    <div class="weui_cell_ft" id="client_identifier">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>R3 客户目标金额</p>
                    </div>
                    <div class="weui_cell_ft" id="client_target">
                    </div>
                </div>
            </div>

            <div class="weui_cells_title">个人销售达成奖励测算</div>
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd">
                        <label class="weui_label weui_label_big">上月客户合计达成率(%)</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" placeholder="请输入达成率" id="last_month_reach">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd">
                        <label class="weui_label weui_label_big">本月客户合计出货金额(元)</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" placeholder="请输入金额" id="current_month_money">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>客户本月合计R3达成率</p>
                    </div>
                    <div class="weui_cell_ft" id="current_month_reach">
                        ... %
                    </div>
                </div>
            </div>
            <br/>
            <a href="javascript:;" class="weui_btn weui_btn_primary" id="calc">计算奖金</a>
            <div class="weui_cells_title">测算结果</div>
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>本月个人奖金金额</p>
                    </div>
                    <div class="weui_cell_ft" id="sale_bonus">
                        ... 元
                    </div>
                </div>
            </div>
            <p class="weui_cells_tips">提示: 考核类另算</p>
        </div>
        <input type="hidden" name="openid" id="openid" value="{{ openid }}"/>
    </body>

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>
    <script>
        jQuery(document).ready(function () {
            function get_current_reach_percent () {
                var client_target = $('#client_target').html();
                var last_month_reach = $('#last_month_reach').val();
                var current_month_money = $('#current_month_money').val();

                if (last_month_reach.length == 0 || current_month_money.length == 0) {
                    return NaN;
                }
                client_target = parseFloat(client_target);
                last_month_reach = parseFloat(last_month_reach);
                current_month_money = parseFloat(current_month_money);
                if (isNaN(client_target) || isNaN(last_month_reach) || isNaN(current_month_money)) {
                    return NaN;
                }

                var current_month_reach = current_month_money / client_target;
                if (last_month_reach < 60.0 && current_month_reach > 0.8) {
                    current_month_reach = 0.8;
                } else if (last_month_reach < 70.0 && current_month_reach > 1.0) {
                    current_month_reach = 1.0;
                } else if (last_month_reach < 80.0 && current_month_reach > 1.2) {
                    current_month_reach = 1.2;
                }
                return current_month_reach;
            }

           $.ajax({
               type: 'GET',
               dataType: 'json',
               url: '/api/info1to1',
               cache: false,
               data: {
                   'openid': $('#openid').val()
               },
               success: function (data) {
                   data = data['data'];

                   $('#date').html(data['date']);
                   $('#name').html(data['name']);
                   $('#job_name').html(data['job_name']);
                   $('#target').html((parseFloat(parseInt(data['target'] * 100)) / 100).toFixed(2) + " 元");
                   $('#client_name').html(data['client_name']);
                   $('#client_identifier').html(data['client_identifier']);
                   $('#client_target').html((parseFloat(parseInt(data['client_target'] * 100)) / 100).toFixed(2) + " 元");
               },
               error: function (xhr) {
                   var data = $.parseJSON(xhr.responseText);
                   if (data.hasOwnProperty('message')) {
                       alert(data['message']);
                   } else {
                       alert('系统错误');
                   }
                   window.history.go(-1);
               }
           });

            $('#last_month_reach').on('change', function () {
                var res = get_current_reach_percent();
                if (isNaN(res)) {
                    $('#current_month_reach').html("... %");
                } else {
                    $('#current_month_reach').html((parseFloat(parseInt(res * 10000)) / 100).toFixed(2) + " %");
                }
            });
            $('#current_month_money').on('change', function () {
                var res = get_current_reach_percent();
                if (isNaN(res)) {
                    $('#current_month_reach').html("... %");
                } else {
                    $('#current_month_reach').html((parseFloat(parseInt(res * 10000)) / 100).toFixed(2) + " %");
                }
            });

            $('#calc').on('click', function () {
                var current_client_reach = get_current_reach_percent();
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/api/calc1to1',
                    cache: false,
                    data: {
                        'openid': $('#openid').val(),
                        'current_client_reach': current_client_reach
                    },
                    success: function (data) {
                        data = data['data'];
                        $('#sale_bonus').html((parseFloat(parseInt(data['sale_bonus'] * 100)) / 100).toFixed(2) + " 元");
                    },
                    error: function (xhr) {
                        var data = $.parseJSON(xhr.responseText);
                        if (data.hasOwnProperty('message')) {
                            alert(data['message']);
                        } else {
                            alert('系统错误');
                        }
                    }
                });
            });
        });
    </script>
</html>
