{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>月绩效奖金核算明细</title>
        <link href="{% static "assets/css/weui.css" %}" rel="stylesheet">
        <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="hd">
            <h1 class="page_title">月绩效奖金核算明细</h1>
        </div>

        <div class="weui_cells_title">选择日期</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell weui_cell_select">
                <div class="weui_cell_hd">
                    <div class="weui_label" style="padding-left: 15px;">日期</div>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" id="datelist"></select>
                </div>
            </div>
        </div>

        <div class="weui_cells_title">明细</div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>姓名</p></div>
                <div class="weui_cell_ft" id="name"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>岗位</p></div>
                <div class="weui_cell_ft" id="job_name"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>奖金基数</p></div>
                <div class="weui_cell_ft" id="bonus_base"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>职务权数</p></div>
                <div class="weui_cell_ft" id="job_weight"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>地区权数</p></div>
                <div class="weui_cell_ft" id="area_weight"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>客户上月达成率</p></div>
                <div class="weui_cell_ft" id="last_month_reach"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>客户本月达成率</p></div>
                <div class="weui_cell_ft" id="current_month_reach"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>SFA回单达成系数占比</p></div>
                <div class="weui_cell_ft" id="sfa_reach"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>个人销售奖金</p></div>
                <div class="weui_cell_ft" id="sale_bonus"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>考核计奖</p></div>
                <div class="weui_cell_ft" id="exam_bonus"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>奖金合计</p></div>
                <div class="weui_cell_ft" id="total_bonus"></div>
            </div>
        </div>

        <div class="weui_cells_title">如有疑问, 请联系相关人资</div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>鄂东部</p></div>
                <div class="weui_cell_ft">027-83858347</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>鄂西部</p></div>
                <div class="weui_cell_ft">0710-3720540</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>湖南部门</p></div>
                <div class="weui_cell_ft">0731-85578507</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>江西部</p></div>
                <div class="weui_cell_ft">0791-82077663</div>
            </div>
        </div>

        <div id="loadingToast" class="weui_loading_toast" style="display:none;">
            <div class="weui_mask_transparent"></div>
            <div class="weui_toast">
                <div class="weui_loading">
                    <!-- :) -->
                    <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                </div>
                <p class="weui_toast_content">数据加载中</p>
            </div>
        </div>
    </body>

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>
    <script>
        jQuery(document).ready(function () {
            $('#datelist').on('change', function () {
                $('#name').html('');
                $('#job_name').html('');
                $('#bonus_base').html('');
                $('#job_weight').html('');
                $('#area_weight').html('');
                $('#last_month_reach').html('');
                $('#current_month_reach').html('');
                $('#sfa_reach').html('');
                $('#sale_bonus').html('');
                $('#exam_bonus').html('');
                $('#total_bonus').html('');
                $('.weui_loading_toast').css('display', 'block');

                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '/api/history',
                    cache: false,
                    data: {
                        'date': this.value
                    },
                    success: function (data) {
                        data = data['data'];
                        $('#name').html(data['name']);
                        $('#job_name').html(data['job_name']);
                        $('#bonus_base').html(data['bonus_base'] + " 元");
                        $('#job_weight').html(data['job_weight']);
                        $('#area_weight').html(data['area_weight']);
                        $('#last_month_reach').html(data['last_month_reach'] * 100 + "%");
                        $('#current_month_reach').html(data['current_month_reach'] * 100 + "%");
                        $('#sfa_reach').html(data['sfa_reach'] * 100 + "%");
                        $('#sale_bonus').html(data['sale_bonus'] + " 元");
                        $('#exam_bonus').html(data['exam_bonus'] + " 元");
                        $('#total_bonus').html(data['total_bonus'] + " 元");
                        $('.weui_loading_toast').css('display', 'none');
                    },
                    error: function (xhr) {
                        var data = $.parseJSON(xhr.responseText);
                        if (!data.hasOwnProperty('code')) {
                            if (data.hasOwnProperty('date')) {
                                alert('日期不合法');
                            }
                        } else if (data.hasOwnProperty('message')) {
                            alert(data['message']);
                        } else {
                            alert('系统错误');
                        }
                        $('.weui_loading_toast').css('display', 'none');
                    }
                });
            });

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/api/history_datelist',
                cache: false,
                success: function (data) {
                    var datelist = data['data'];
                    datelist_select = $('#datelist')
                    for (var i = 0; i < datelist.length; i++) {
                        datelist_select.append($('<option></option>').attr("value", datelist[i]["value"]).text(datelist[i]["text"]))
                    }
                    datelist_select.val(datelist[1]["value"]);
                    datelist_select.trigger('change');
                },
                error: function (xhr) {
                    alert('系统错误');
                }
            });
        });
    </script>
</html>
