{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>康师傅奖金计算 - 登陆</title>
        <link href="{% static "assets/css/weui.css" %}" rel="stylesheet">
        <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="hd">
            <h1 class="page_title">康师傅奖金计算</h1>
        </div>
        <form>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">员工号</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" name="identifier" id="identifier" type="text" placeholder="请在此输入员工号"/>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">密码</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" name="password" id="password" type="password" placeholder="请在此输入密码"/>
                    </div>
                </div>
                <input type="hidden" id="openid" name="openid" value="{{ openid }}"/>
            </div>
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary" id="submit" href="javascript:">登陆</a>
            </div>
        </form>
    </body>

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>
    <script>
        jQuery(document).ready(function () {
            var openid = "{{ openid }}";
            $('#submit').on('click', function (e) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/api/login',
                    cache: false,
                    data: {
                        identifier: $('#identifier').val(),
                        password: $('#password').val(),
                        openid: $('#openid').val()
                    },
                    success: function (data) {
                        alert("登录成功");
                    },
                    error: function (xhr) {
                        var data = $.parseJSON(xhr.responseText);
                        if (!data.hasOwnProperty('code')) {
                            if (data.hasOwnProperty('identifier')) {
                                alert('员工号不能为空');
                            } else if (data.hasOwnProperty('password')) {
                                alert('密码不能为空');
                            } else if (data.hasOwnProperty('openid')) {
                                alert('必须从微信界面打开');
                            }
                        } else if (data.hasOwnProperty('message')) {
                            alert(data['message']);
                        } else {
                            alert('系统错误');
                        }
                    }
                });
            });
        });
    </script>
</html>
